{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Collaborating to connect technology with sustainability</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum odio possimus sapiente eius at? Asperiores aspernatur itaque, iusto enim, nobis reiciendis fuga hic dolore inventore distinctio quam fugit aliquam ullam.</p>
    </div>

    <div class="col-4">
        <img src="/assets/img/Foto perfil BN Small.jpg" class="img-thumbnail">
    </div>


</div>



{{> footer }}